<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xf="http://www.w3.org/2002/xforms">

<head>
    <title>Modify the Fleet of machines</title>
    <script src="path/to/saxon-xforms.js"></script>
</head>

<body>
    <main>
        <xf:group>
            <xf:output ref="/message" />
            <xf:submit submission="back" validate="false" id="backBtn">Back to Home</xf:submit>
            <!-- XForm content will be replaced here -->
        </xf:group>
    </main>

    <script>
        // JavaScript function for redirection
        function redirectToHome() {
            window.location.href = "/home";
        }
    </script>
    <script src="../static/scripts/script.js"></script>
</body>

</html>